/* App.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('../img/images1.jpg') no-repeat center center fixed; /* Fondo con imagen */
  background-size: cover;
}

.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
